*{
    /*border: 1px solid rgb(95, 131, 95);*/
    box-sizing: border;
    background-color: rgb(125, 143, 125);
    color: beige;
}

footer{
    display: flex;
    flex-flow: wrap row;
    height: 350px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#logo{
    width: 100px;
    height: 100px;
}

[id|="col"]{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#col-1, #col-3{
    flex: 1 1 200px;
}

#col-2{
    flex-grow: 3;
}
#col-2 a{
    padding-bottom: 10px;
    color: beige;
    max-width: fit-content;
}

#col-2 a:hover{
    color: darkgreen;
}

.item-direccion{
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
}

.item-direccion img{
    margin-right: 10px;
}